body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .location {
    display: flex;
    margin-bottom: 20px;
  }
  
  #location-input {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  #get-weather-btn {
    padding: 5px 10px;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .weather-info {
    display: none;
  }
  
  .weather-info p {
    margin: 5px 0;
  }
  